.app-holder {
    height: 100%;
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.campaign-module-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing_main{
    display: flex;
    justify-content: center;
}