@font-face {
    font-family: 'gotham-thin';
    src: url('../fonts/ufonts.com_gotham-thin.woff');
}

.neighbourhood_bubbles{
    display: flex;
    padding:0.7em 0.6em;
    border-bottom: 1px solid #ddd;
    height: 3.4em;
    width: calc(100% - 1.2em);
    flex-wrap: wrap;
    overflow-y: scroll;
}

.neighbourhood_bubble {
    padding: 0.6em 1em 0.5em 1em;
    background-color: rgb(40, 220, 165);
    color: white;
    border-radius: 1em;
    font-weight: 700;
    font-family: "gotham-thin",sans-serif;
    display: inline-flex;
    align-items: center;
    min-width: 6em;
    height: 1.2em;
    font-size: 0.8em;
    margin-bottom: 0.3em;
    margin-left: 0.3em;

    /*
    opacity: 0;

    -webkit-transform: scale(.8);
    -webkit-animation: overlay 0.3s ease-in 0s 1 forwards;

    -moz-transform: scale(.8);
    -moz-animation: overlay 0.3s ease-in 0s 1 forwards;

    transform: scale(.8);
    animation: overlay 0.3s ease-in 0s 1 forwards;

    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
    */
}

@-webkit-keyframes overlay {
    0% { -webkit-transform: scale(.8); opacity: 0; }
    100%   { -webkit-transform: scale(1); opacity: 1; z-index: 1  }
}
@-moz-keyframes overlay {
    0% { -moz-transform: scale(.8); opacity: 0; }
    100%   { -moz-transform: scale(1); opacity: 1; z-index: 1   }
}
@keyframes overlay {
    0% { transform: scale(.8); opacity: 0; }
    100%   { transform: scale(1); opacity: 1;  z-index: 1   }
}

.neighbourhood_bubble .text{
    //flex-grow: 0;
}

.neighbourhood_bubble .cancel_btn{
    margin-left: 0.7em;
    font-size: 1.1em;
    cursor: pointer;
}

.drop_zone{
    position: relative;
    margin: 0 0.8em;
    margin-top: 12px;
    //width: 200px;
    height: 12em;
    cursor: none;
    text-align: center;
    color: white;
    overflow: hidden;
    //font-size: 0em;
}

.drop_zone.empty{
    border: 2px dashed rgb(200, 200, 200);
    border-radius: 5px;
    background-color: rgb(230,230,230);
    cursor: pointer;
    background-image: url("http://ingridwu.dmmdmcfatter.com/wp-content/uploads/2015/01/placeholder.png");
    background-size: cover;
    background-position-y: -2em;
}

.img_preview{
    min-height:13em;
    width:100%;
}

.post_card textarea{
    padding: 1em;
    font-size: 0.8em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    margin: 0 0.8em;
    margin-top: 7px;
    background-color: #ffffe6;
    outline: none;
    width: calc(100% - 3.9em);
    resize: none;
}

.send_txt{
    margin-left: 0.4em;
}

.progress_line{
    position: absolute;
    top:0;
    left:0;
    border: 2px solid dodgerblue;

    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}