@import url(http://db.onlinewebfonts.com/c/bc631c193c0378652b0527fd402592fa?family=PeachesandCreamBlackW00-Rg);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

@font-face {font-family: "PeachesandCreamBlackW00-Rg";
    src: url("http://db.onlinewebfonts.com/t/bc631c193c0378652b0527fd402592fa.eot");
    src: url("http://db.onlinewebfonts.com/t/bc631c193c0378652b0527fd402592fa.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/bc631c193c0378652b0527fd402592fa.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/bc631c193c0378652b0527fd402592fa.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/bc631c193c0378652b0527fd402592fa.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/bc631c193c0378652b0527fd402592fa.svg#PeachesandCreamBlackW00-Rg") format("svg");
}

@font-face {
	font-family: 'Aaargh';
	src: url('../fonts/Aaargh-webfont.eot');
	src: url('../fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Aaargh-webfont.woff') format('woff'),
		url('../fonts/Aaargh-webfont.ttf') format('truetype'),
		url('../fonts/Aaargh-webfont.svg') format('svg');
}

html, body, main, .landing_page{
    width: 100%;
    height: 100%;
    -webkit-font-smoothing:subpixel-antialiased;
    text-rendering:geometricPrecision;
}

#root{
    height: 100%;
}

/*
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/


.landing_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/neighbourhood_background_5.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.landing_page .brand_logo{

    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 364px;
    font-size: 2.5em;

    //text-shadow: 2px 2px 8px rgb(120,120,120);

    margin-top: 10px;

    align-self: flex-start;
    margin-left: 6%;

    margin-top: 0.5em;
}

.logo_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_first img{
    width:30px;
    height:31px;
}

.logo_text .myhamlet {
    //vertical-align: middle;
}

.landing_page .brand_logo .services{
    font-family: PeachesandCreamBlackW00-Rg;
    //font-size: 60px;
    //line-height: 2.5em;
    font-size: 1.6em;
    margin-left: 0.1em;
    padding-top: 0.2em;

    -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
@media (min-device-width:481px) and (max-device-width:979px) and (orientation:portrait) {
    .landing_page {
        -webkit-background-size: auto 540px;
        -moz-background-size: auto 540px;
        -o-background-size: auto 540px;
        background-size: auto 540px
    }
}

@media (min-device-width:481px) and (max-device-width:979px) and (orientation:landscape) {
    .landing_page {
        -webkit-background-size: auto 690px;
        -moz-background-size: auto 690px;
        -o-background-size: auto 690px;
        background-size: auto 690px
    }
}
*/

.middle_section{
    display: flex;
    justify-content: space-between;
    width: calc(88% - 60px);
    margin-top: 2em;
}

.middle_section .login_card{

/*
    -webkit-animation: fadein 3s;
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;
*/
    font-family: "Aaargh";

    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;

    width: 17em;
}

.error{
    color: red;
    font-size: 0.9em;
}

.login_card .error{
    margin-top: 0.5em;
    height: 1em;
    display: block;
}

.login_card .front, .back{
    //width: 17em;
    height: 17.6em;
    background-color: rgba(255,255,255,0.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 1.7em 20px 1.7em;
    //width: calc(100% - 3.4em);

    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.login_card .front{
    z-index: 2;

    -webkit-transform: rotateY( 0deg );
    -moz-transform: rotateY( 0deg );
    -o-transform: rotateY( 0deg );
    transform: rotateY( 0deg );
}

.login_card .front.flipped{
    -webkit-transform: rotateY( -180deg );
    -moz-transform: rotateY( -180deg );
    -o-transform: rotateY( -180deg );
    transform: rotateY( -180deg );
}

.login_card .back{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.login_card .back.flipped{
    -webkit-transform: rotateY( 0deg );
    -moz-transform: rotateY( 0deg );
    -o-transform: rotateY( 0deg );
    transform: rotateY( 0deg );
}


.login_card form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
}

.login_card input[name="otp"]{
    //visibility: hidden;
}

.login_card .caption{
    width: 230px;
    font-size: 1.2em;
    color: rgb(90,90,90);
}

.login_card form input{
    height: 35px;
    width: 210px;
    margin-top: 10px;
    border-radius: 3px;
    border: 0px;
    font-size: 0.8em;
    outline: none;
}

.login_card form input:nth-of-type(1){
    margin-top: 18px;
}

.login_card form input:not([type="submit"]){
    padding-left: 20px;
    font-weight: bold;
    color: rgb(40,40,40);
}

.login_card form input[type="submit"]{
    border-radius: 50px;
    background-color: darkgreen;
    color: white;
    //font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1.4px;
    width: 230px;
    cursor: pointer;
    margin-top: 13px;
    transition: background-color 0.4s ease;
}

.login_card form input[type="submit"]:hover{
    background-color: rgb(0, 130, 0);

}

.forgot_password{
    width: 230px;
    text-align: right;
    margin-top: 5px;
}

.login_card form a{
    text-decoration: none;
    color: #326bb1;
    font-size: 0.8em;
    text-align: right;
    font-weight: 400;
}

.login_card form a:hover{
    text-decoration: underline;
}

.login_card .signup {
    font-size: 1em;
    margin-top: 10px;
}

.login_card .signup .new_service_question{
    font-size: 0.9em;
    color: rgb(60,60,60);
}

.landing_page .middle_section .description{
    //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    font-family: "Aaargh";
    font-size: 1.1em;
    text-rendering: optimizeLegibility;
    padding-top: 4em;
    width: 490px;
}

.description .moto{
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.description .keywords{
    opacity: 0;
    margin-top: 1em;

    animation: fadein 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.description .download_icons{
    margin-top: 1.4em;
    width: 285px;
    display: flex;
    justify-content: space-between;
}

.download_icons img{
    opacity: 0;

  -webkit-transform: scale(.8);
  -webkit-animation: overlay 0.5s ease-in 4s 1 forwards;

  -moz-transform: scale(.8);
  -moz-animation: overlay 0.5s ease-in 4s 1 forwards;

  transform: scale(.8);
  animation: overlay 0.5s ease-in 4s 1 forwards;

    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);

    width: 135px;height: 40px;
}

@-webkit-keyframes overlay {
   0% { -webkit-transform: scale(.8); opacity: 0; }
   100%   { -webkit-transform: scale(1); opacity: 1; z-index: 1  }
}
@-moz-keyframes overlay {
   0% { -moz-transform: scale(.8); opacity: 0; }
   100%   { -moz-transform: scale(1); opacity: 1; z-index: 1   }
}
@keyframes overlay {
   0% { transform: scale(.8); opacity: 0; }
   100%   { transform: scale(1); opacity: 1;  z-index: 1   }
}


@media screen and (max-width:965px) {
    .landing_page{
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: inherit;
        //-webkit-background-size: auto 100%;
        //-moz-background-size: auto 100%;
        //-o-background-size: auto 100%;
        //background-size: auto 100%;
    }

    .landing_page .brand_logo{
        align-self: center;
        margin-left: 0px;
        margin-top: 0.2em;
    }

    .middle_section{
        //text-align: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
    }

    .middle_section .description{
        order: 2;
    }

    .middle_section .login_card{
        order: 1;
    }

    .landing_page .middle_section .description{
        align-items: center;
        display: none !important;
    }

    .landing_page .brand_logo{
        font-size: 2.1em;
    }

    .landing_page .brand_logo .services{
        font-family: PeachesandCreamBlackW00-Rg;
        font-size: 1.4em;
    }
}