/* Styles for Advanced Menu */

.advanced-nav li a {
    display: flex;
    width: 100%;
    justify-content: center;
    //line-height: 1em;
    font-weight: 300;
}

.icon {
    flex: 0 0 1.5em;
    font-size: 1em;
}

.button-text {
    font-size: 1em;
    //margin-top: 0.1em;
}

.button-text span {
    display: block;
    font-size: 40%;
    font-weight: lighter;
    font-style: italic;
}

.advanced-nav{
    flex-grow: 1;
}

.advanced-nav.menu{
    margin-left: calc(21px + 18em);
    margin-right: 2.2em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.app_header{
    position: fixed;
    top: 0px;
    z-index: 2;
    display: flex;
    width: 100%;
    background-color: #1f2533;//#1b926c;
    color: white;
    
    -webkit-font-smoothing:subpixel-antialiased;
    
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
              -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                         box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    
    //border-bottom: 1px solid rgb(20,20,20);//#177e5d;  
}
    
.app_header .brand_logo{
    position: absolute;
    top: -0.6em;
    left: 0.3em;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 364px;
    font-size: 1.6em;
    
    //text-shadow: 2px 2px 8px rgb(120,120,120);
    align-self: flex-start;
}

.app_header .logo_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 820px){
    .app_header ul:before{
    content: "";
    width:calc(21px + 18em);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3.3em;
    //border-bottom: 1px solid rgb(20,20,20);//#177e5d;
}
}


.app_header .brand_logo .services{
    font-family: PeachesandCreamBlackW00-Rg;
    font-size: 1.8em;
    margin-left: 0.1em;
    padding-top: 0.2em;
    
    /*
    -webkit-animation: fadein 3s; 
       -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
         -o-animation: fadein 3s;
            animation: fadein 3s;
    */
}

.logout{
    position: absolute;
    top: 0.6em;
    right: 0px;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    cursor: pointer;
    width: 1.2em;
}
/*
html,body {
  height: 100%;
  overflow: scroll;
}


main{
    display: block;
    padding-top: 2em;
    background-color: rgb(243,243,243);
    height: calc(100% - 2em);
}
*/


.advanced-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
    
.advanced-nav li {
        display: flex;
        flex: 1 1 6em;
    //border-bottom: 1px solid rgb(20,20,20);//#177e5d;
}

@media screen and (max-width: 819px) {
   
    .advanced-nav.menu{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2.7em;
    } 
}

/*
.main-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
*/
.main-area .search{
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    width: 46em;
    height: 50px;
    display: block;
    margin-top: 2em;
}

.main-area .search input{
    outline: none;
    border: 0px;
    width: 43.6em;
    padding-left: 1.5em;
    padding-top: 0.6em;
}

::-webkit-input-placeholder {
   color: rgb(200,200,200);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgb(200,200,200);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(200,200,200); 
}

:-ms-input-placeholder {  
   color: rgb(200,200,200);  
}

.main-area article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 28em;
    margin-top: 0.9em;
    width: 46em;
}

.main-area .neighbourhood_select{
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    width: 22.5em;
    height: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    align-items: center;
    
}

@font-face {
	font-family: 'gotham-medium';
	src: url('Gotham-Medium.woff');
}

.select_neighbourhood_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.4em;
    letter-spacing: 0.04em;
}

.main-area .neighbourhood_select .label{
    font-family: "gotham-medium",sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
}

.main-area .neighbourhood_select .line{
    height: 1px;
    background-color: #E6E6E6;
    width: 7em;
    margin-left: 0.5em;
    display: block;
}
/*
.main-area .neighbourhood_select .select_neighbourhood_label > div::after {
    content: '';
    border-top: 1px solid #E6E6E6;
    width: 10em;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
*/
.main-area .post_card{
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    width: 22.5em;
    height: 100%;
    display: block;
}

.neighbourhood_list_container{
    max-width:18.7em;
    min-width:18.7em;
    height: 23em;
    overflow-y: scroll;
    margin-top: 0.8em;
}

/*
.neighbourhood_list_container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.neighbourhood_list_container::-webkit-scrollbar:vertical {
    width: 11px;
}

.neighbourhood_list_container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; 
    background-color: rgba(0, 0, 0, .5);
}
*/
.neighbourhood_list{
    -webkit-font-smoothing:antialiased;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',"gotham-medium",sans-serif;
    color: rgb(160,160,160);
    font-size: 0.9em;
    font-weight: 600;
}

.neighbourhood_list li{
    padding: 0.22em 0 0.15em 0.7em;
    vertical-align: middle;
    cursor: pointer;
}

.neighbourhood_list li span{
    font-weight: 700;
    color: rgb(60,60,60);
}

.neighbourhood_list li:hover{
    color:white;
    background-color: #1fa67a;
}