/* Base styles that apply to all menus */
.menu-section {
	padding-bottom: 2em;
	margin-bottom: 2em;
	//border-bottom: 1px solid hsl(0, 0%, );
}

.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	//background: hsl(0, 0%, 15%);
    background-color: #1f2533;//#1b926c;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: .9em 0;
    //font-family: "Open Sans";
    font-family: "Roboto", sans-serif;
}

.menu li{
    transition: background-color 0.3s ease-in, border 0.3s ease-in;
}

.menu li:hover {
	//background: hsl(0, 0%, 25%);
    background-color: #1fa67a;
    //border-bottom: 1px solid #1fa67a;
}

.menu li .active {
//background: hsl(0, 0%, 25%);
	background-color: #1fa67a;
	//border-bottom: 1px solid #1fa67a;
}